.search-results {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.recipe-card {
    margin: 1%;
    width: 400px;
    height: 100%;
}


/* MODAL CSS */
.recipe-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 15px;
    margin: 15% auto;
    padding: 2% 3%;
    width: 80%;
  }
  .modal-content h2 {
    text-align: center;
    padding: 2%;
    font-size: 28px;
  }
  
  .closeModal {
    color: #000;
    margin: 2% 0;
    font-size: 40px;
    font-weight: bold;
  }
  
  .closeModal:hover {
    color: #0673c0;
    cursor: pointer;
  }