
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}








body {
padding-bottom: 0px;
margin: 0;
background-image: url(./cute-panda-eat-bamboo-illustration-vector.jpeg);
background-size: cover;
background-repeat: no-repeat;
}



