
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
background-image: url("./images/abstract-geometric_H5CCPV9ZFQ.jpeg");



}



header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
}

/* header img {
  height: 50px;
  width: auto;
  border-radius: 5px;
  margin-left: 1%;
} */


main {
  padding: 2%;
}

.choice {
  height: auto;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 500px;
  margin: 2%;
}

.choice div {
  padding: 2%;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.choice div p {
  padding: 2%;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}


@media only screen and (max-width: 850px) {
  .health-options {
    display: flex;
    flex-wrap: wrap;
  }

}
