h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

/* BACK BUTTON */
.goBack {
    margin: 2% 2%;
}

.backBtn {
    padding: 1% 2%;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

/* HOVER STYLING */
.backBtn:hover, #toTry:hover, #search-format:hover, #submit-button:hover {
    background-color: aqua;
}

main {
    padding: 2%;
    justify-content: center;
    margin: auto;
    min-height: 75vh;
}


#main-h2 {
    text-align: center;
    font-size: 30px;
    margin: 2%;
}

hr {
    border: 2px solid black;
    margin: 2%;
}

/* TOGGLE STYING */
#toTry{
    padding: 2%;
    border-radius: 15px;
}

.try, .toggle-content {
    width: 80%;
    border: 2px solid black;
    border-radius: 15px;
    margin: 2% auto;
    max-width: 1200px;
}


.display-content {
    width: 85%;
    margin: auto;
    margin-bottom: 2%;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2% 1%;
    min-height: 150px;
    max-width: 1200px;
}

.try {
    margin: 2% auto;
    justify-content: center;
    width: 75%;
}

.try .display-content {
    border: none;
    width: 100%;
}

.workouts .display-content {
    width: 75%;
}

.saved-workout-card {
    border: 2px solid black;
    border-radius: 15px;
    padding: 2%;
    margin: 2% 0;
    width: 100%;
}

.saved-workout-card h2 {
    font-size: 50px;
}

.saved-workout-card h3 {
    font-size: 25px;
}


.workoutpanda {
    display: flex;
    justify-content: space-between
}

form {
    text-align: center;
}

form select {
    padding: 15px 2%;
    border-radius: 5px;
    cursor: pointer;
}

#search-format, #submit-button {
    border-radius: 5px;
    height: 55px;
    padding: 0 2%;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid black;
}

.items-saved {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2% auto;
    justify-content: center;
    padding: 0;
    justify-content: space-between;
    min-height: 100px;
}

#cardio-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 0;
}

.workout-card {
    margin: 1%;
    width: 45%;
    min-width: 400px;
    padding: 2%;
}

.completed-workouts .toggle-content, .try .toggle-content {
    width: 100%;
}



@media only screen and (max-width: 1000px) {
    #headbandpanda-2 {
      display: none;
    }
    h1 {
        margin: 0 2%;
    }

    .workoutpanda {
        display: flex;
        justify-content: center;
    }

    form select, form button {
        display: block;
        width: 100%;
        max-width: 450px;
        text-align: center;
        justify-content: center;
        margin: 2% auto;
    }

    .items-saved, #cardioInteract {
        display: block;
        width: 100%;
    }

    .try, .workouts, .completed-workouts {
        width: 100%;
        min-width: 0;
    }

    .workout-card {
        width: auto;
        min-width: 0;
    }
  }
  
  /* CSS for modal container */
.modal-container {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  /* CSS for modal */
  .modal {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* CSS for close button */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }